[Unit]
Description=Teuthology Dispatcher

Wants=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=teuthworker
ExecStart=~/src/git.ceph.com_git_teuthology_main/virtualenv/bin/teuthology-dispatcher \
    -v \
    --archive-dir ~/archive \
    --log-dir ~/archive/worker-logs \
    --tube %i
ExecStop=touch /tmp/teuthology-stop-dispatcher
Restart=on-failure
TimeoutStopSec=infinity
