name: CI

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    name: CI on python${{ matrix.python }} via ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            python: 3.8
          - os: ubuntu-20.04
            python: 3.9
          - os: ubuntu-22.04
            python: "3.10"
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox
        run: pip install tox
      - name: Run flake8
        run: tox -e flake8
      - name: Run unit tests
        run: tox -e py3
      - name: Run docs build
        run: tox -e docs
