name: dependencies

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  upgrade:
    name: Test dependencies
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            python: "3.10"
          - os: ubuntu-22.04
            python: "3.11"
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Checkout default branch
        uses: actions/checkout@v4
        with:
          ref: main
          path: teuthology
      - name: virtualenv
        run: |
          pip install --user virtualenv
          virtualenv ./virtualenv
          cd ./virtualenv/lib/python*
          touch no-global-site-packages.txt
        working-directory: ./teuthology
      - name: Initial bootstrap
        run: ./bootstrap install
        working-directory: ./teuthology
      - name: Move initial repository
        run: mv teuthology teuthology.orig
      - name: Checkout desired ref
        uses: actions/checkout@v4
        with:
          path: teuthology
      - name: Move virtualenv to new checkout
        run: mv ./teuthology.orig/virtualenv ./teuthology/
      - name: Re-run bootstrap
        run: ./bootstrap install
        working-directory: ./teuthology
